
  .hero {
    .split {
      visibility: visible;
      height: 100%;
      width: 50%;
      position: fixed;
      z-index: 1;
      top: 0;
      overflow-x: hidden;
      padding-top: 20px;
      text-transform: uppercase;
    }
    /* Control the left side */
    .left {
      left: 0;
      background: white;
      background-size:cover;
      background-repeat: no-repeat;
      .centered {
        position: absolute;
        margin-right: 0;
        top: 50%;
        left: 20%;
        transform: translate(-2%, -50%);
        text-align: center;
        img{
          opacity: 0.5;
          filter: alpha(opacity=50);
          height: 80vh;
        }
      }
    }

    /* Control the right side */
    .right {
      top: -4px;
      background-repeat: no-repeat;
      background-size:cover;
      right: 0;
      background-image: url('https://i.imgur.com/9OPhSA8.jpg');
      .centered {
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-30%, -50%);
        text-align: center;
        h1{
          font-size: 4rem;
          font-weight: 400;
          color: white;
          font-style: normal;
        }
        .subtitle{
          font-size: 1rem;
          color: white;
        }
      }
    }
      // background-image: url('http://desktopwall.info/uploads/posts/2016-04/28_kendo.jpg');
      background: none;
      background-size: cover;
      height: 112vh;
      background-color: black;
      width: 100%;
      margin: 0;
      font-family: $primary-font;
    }
